@model ProductDetailsModel
@using Newtonsoft.Json;
@using Nop.Core;
@inject IWebHelper webHelper

@{
    var shareUrl = webHelper.GetStoreLocation();
    var allowedFileExtensions = Model;
    var vendorModel =  JsonConvert.SerializeObject(@allowedFileExtensions.VendorModel);
    var vendorModelsForMaps = JsonConvert.SerializeObject(" { mapper: "+@allowedFileExtensions.VendorModelsForMaps+"}");
    var matchingProductsForMap = JsonConvert.SerializeObject(" { mapper: "+@allowedFileExtensions.MatchingProductsForMap+"}");
    var prdList = new List<ProductMapModel> ();
    
    //TODO: should set sename and images 
    if(@allowedFileExtensions.MatchingProductsForMap != null)
        foreach(var product in @allowedFileExtensions.MatchingProductsForMap){
            var presentVendor = @allowedFileExtensions.VendorModelsForMaps.First(x => x.Id == product.VendorId);//product.VendorModel.Id);
            prdList.Add(new ProductMapModel()
    {
       // PriceValue = product.ProductPrice.PriceValue,

        VendorName = presentVendor.Name,


        //VendorSeName = presentVendor.vendorsse

        Latitude = presentVendor.Latitude,

        Longitude = presentVendor.Longitude,
        ProductName = product.Name,

                        // ProductSeName = await _urlRecordService.GetSeNameAsync(product)//product.SeName,

        //ImageSquaresPictureModel = product.picture

        //ProductReviewOverview = product.productrev


    });
   }

    var finalvendorprodCombo = JsonConvert.SerializeObject(prdList);


}
<div id="map"></div>
<div id="map2"  style="display: none">@finalvendorprodCombo</div>
<input type="hidden" id="vendorModelsForMaps" value=@vendorModelsForMaps>
<input type="hidden" id="matchingProductsForMap" value=@matchingProductsForMap>

<div class="product-social-buttons">
    <script   asp-location="None" src="https://maps.googleapis.com/maps/api/js?&sensor=false&v=3&key=AIzaSyCNQrOZMXYBcGlvkXMBGeD68FQxpaQhGdw"></script>
    <script   asp-location="None" src="https://cdn.sobekdigital.com/includes/gmaps-markerwithlabel/1.9.1/gmaps-markerwithlabel-1.9.1.js"></script>
    <script asp-location="Footer"  src="~/Themes/Pacific/Content/scripts/gmapMarketWithLabel.js"> </script>
</div>
    <style>

    #map {
  width:100%;
  height:250px;
}
   .labels {
     color: red;
     background-color: white;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
     width: 80px;     
     border: 2px solid black;
     white-space: nowrap;
   }
    </style>




